[Unit]
Description=Postgres-XC (%i) datanode server
After=network.target

[Service]
Type=forking
TimeoutSec=120
User=postgres
Group=postgres

Environment=PGROOT=/var/lib/postgres/xc/1.2/%i

SyslogIdentifier=pgxc-1.2-%i
PIDFile=${PGROOT}/postmaster.pid

ExecStart= /opt/postgres-xc-1.2/bin/pg_ctl -s -Z "datanode" -D ${PGROOT} start -w -t 120
ExecReload=/opt/postgres-xc-1.2/bin/pg_ctl -s -D ${PGROOT} reload
ExecStop=  /opt/postgres-xc-1.2/bin/pg_ctl -s -D ${PGROOT} stop -m fast

# Due to PostgreSQL's use of shared memory, OOM killer is often overzealous in
# killing Postgres, so adjust it downward
OOMScoreAdjust=-200

[Install]
WantedBy=multi-user.target
